{% extends "core/base.html" %}

{% block title %}{{ solution.name }}{% endblock %}

{% block content %}
    <h1>{{ solution.name }}</h1>
    <p>{{ solution.description }}</p>
    <a href="{% url 'add_to_cart_solution' solution.solution_id %}" class="btn btn-primary">Купить</a>

    <h2>Продукты, входящие в состав:</h2>
    <ul>
        {% for product in products %}
            <li>
                <a href="{% url 'product_detail' product.product_id %}">{{ product.name }}</a> - {{ product.description|truncatewords:15 }}
            </li>
        {% endfor %}
    </ul>
    
    <a href="{% url 'complexsolution_list' %}" class="btn btn-secondary">Назад к списку комплексных решений</a>
{% endblock %}
