{% extends "core/base.html" %}

{% block title %}Продукты{% endblock %}

{% block content %}
    <h1>Наши продукты</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description|truncatewords:30 }}</p>
                        <a href="{% url 'product_detail' product.product_id %}" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
